.bg
{
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  padding: 100px;
}
.circle{
	height: 30px;
	width: 30px;
	background-color: #555;
	border-radius: 30%;
}